Repository danieleschmidt/llm-cost-tracker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @terragon-labs/core-team, @terragon-labs/backend-team, @terragon-labs/security-team, @terragon-labs/devops-team, @terragon-labs/documentation-team, @terragon-labs/qa-team, @terragon-labs/sre-team

.github/CODEOWNERS:

# Global code ownership for LLM Cost Tracker
# These owners will be requested for review when anyone opens a pull request.

# Default owners for everything in the repo
* @terragon-labs/core-team

# Core application code
/src/llm_cost_tracker/ @terragon-labs/backend-team

# Security-related files
/SECURITY.md @terragon-labs/security-team
/.pre-commit-config.yaml @terragon-labs/security-team
/scripts/generate-sbom.sh @terragon-labs/security-team

# Infrastructure and deployment
/docker-compose*.yml @terragon-labs/devops-team
/Dockerfile @terragon-labs/devops-team
/config/ @terragon-labs/devops-team
/.env.example @terragon-labs/devops-team

# Documentation
/docs/ @terragon-labs/documentation-team
/README.md @terragon-labs/documentation-team
/CONTRIBUTING.md @terragon-labs/documentation-team

# Testing
/tests/ @terragon-labs/qa-team
/pytest.ini @terragon-labs/qa-team

# Dependencies and build configuration
/pyproject.toml @terragon-labs/core-team
/requirements*.txt @terragon-labs/core-team
/renovate.json @terragon-labs/devops-team

# Monitoring and observability
/dashboards/ @terragon-labs/sre-team
/config/prometheus.yml @terragon-labs/sre-team
/config/grafana-datasources.yml @terragon-labs/sre-team

# Scripts and automation
/scripts/ @terragon-labs/devops-team
/Makefile @terragon-labs/devops-team

docs: comprehensive workflow activation guide for advanced SDLC maturity
  WORKFLOW_ACTIVATION_SUMMARY.md
Owners: @terragon-labs/core-team

feat: autonomous SDLC enhancement - critical CI/CD workflows and automation
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  scripts/ci-validate.sh
  scripts/dev-setup.sh
  scripts/security-audit.sh
Owners: @terragon-labs/core-team, @terragon-labs/devops-team

feat(ci): add autonomous SDLC enhancement with full CI/CD automation
  AUTONOMOUS_SDLC_ENHANCEMENT_COMPLETE.md
Owners: @terragon-labs/core-team

feat(ci): add autonomous SDLC enhancement with full CI/CD automation
  WORKFLOW_DEPLOYMENT_INSTRUCTIONS.md
  workflow-configs-ready-to-deploy/ci.yml
  workflow-configs-ready-to-deploy/pr-validation.yml
  workflow-configs-ready-to-deploy/release.yml
  workflow-configs-ready-to-deploy/security-scan.yml
Owners: @terragon-labs/core-team

feat: advanced SDLC optimization enhancements
  .gitattributes
  .github/DEVELOPER_ONBOARDING.md
  .yamllint.yaml
  sonar-project.properties
Owners: @terragon-labs/core-team

feat(autonomous-sdlc): add autonomous value discovery and execution system
  .terragon/BACKLOG.md
  .terragon/autonomous-executor.py
  .terragon/config.yaml
  .terragon/current-status.md
  .terragon/perpetual-loop.py
  .terragon/value-discovery-engine.py
  AUTONOMOUS_VALUE_DISCOVERY_SETUP.md
Owners: @terragon-labs/core-team

docs: enhance project foundation with comprehensive guides structure
  docs/adr/template.md
  docs/guides/README.md
Owners: @terragon-labs/documentation-team

feat: add main CLI script to Poetry configuration
  pyproject.toml
Owners: @terragon-labs/core-team

test: enhance testing infrastructure with comprehensive fixtures and documentation
  docs/guides/developer-testing.md
  tests/fixtures/__init__.py
  tests/fixtures/mocks.py
  tests/fixtures/sample_data.py
Owners: @terragon-labs/documentation-team, @terragon-labs/qa-team

build: enhance containerization with optimized build context and comprehensive deployment guide
  .dockerignore
  docs/guides/developer-deployment.md
Owners: @terragon-labs/core-team, @terragon-labs/documentation-team

docs: add comprehensive monitoring, observability, and incident response documentation
  docs/guides/admin-monitoring.md
  docs/runbooks/README.md
  docs/runbooks/high-cost-alerts.md
Owners: @terragon-labs/documentation-team

docs: add comprehensive CI/CD workflow documentation and templates
  docs/workflows/MANUAL_SETUP_INSTRUCTIONS.md
  docs/workflows/examples/README.md
  docs/workflows/examples/pr-validation.yml
Owners: @terragon-labs/documentation-team

feat: implement comprehensive metrics collection and repository automation system
  .github/project-metrics.json
  docs/guides/admin-automation.md
  scripts/metrics-collector.py
  scripts/repository-automation.py
Owners: @terragon-labs/core-team, @terragon-labs/documentation-team, @terragon-labs/devops-team

docs: complete SDLC implementation with final integration documentation and validation
  SDLC_IMPLEMENTATION_COMPLETE.md
  scripts/validate-sdlc-implementation.py
Owners: @terragon-labs/core-team, @terragon-labs/devops-team

docs: add final SDLC activation guide with manual setup instructions
  SDLC_FINAL_ACTIVATION_GUIDE.md
Owners: @terragon-labs/core-team

docs: add final SDLC activation guide for workflow deployment
  FINAL_SDLC_ACTIVATION_GUIDE.md
Owners: @terragon-labs/core-team

feat: establish project foundation and implement core functionality
  docs/ROADMAP.md
  sql/init.sql
  src/llm_cost_tracker/controllers/__init__.py
  src/llm_cost_tracker/controllers/budget_controller.py
  src/llm_cost_tracker/controllers/cost_controller.py
  src/llm_cost_tracker/controllers/session_controller.py
  src/llm_cost_tracker/main.py
  src/llm_cost_tracker/models/__init__.py
  src/llm_cost_tracker/models/budget_rule.py
  src/llm_cost_tracker/models/cost_record.py
  src/llm_cost_tracker/models/usage_log.py
  src/llm_cost_tracker/models/user_session.py
  src/llm_cost_tracker/services/__init__.py
  src/llm_cost_tracker/services/budget_service.py
  src/llm_cost_tracker/services/cost_analysis_service.py
  src/llm_cost_tracker/services/model_routing_service.py
  src/llm_cost_tracker/services/session_service.py
Owners: @terragon-labs/documentation-team, @terragon-labs/core-team, @terragon-labs/backend-team

feat: complete CHECKPOINT A1 validation with exceptional results
  CHECKPOINT_A1_VALIDATION_REPORT.md
Owners: @terragon-labs/core-team

feat(llm_cost_tracker): add extensive new features and dependencies for LLM cost tracking
  .env.test
  poetry.lock
  pyproject.toml
  security_report.json
  src/llm_cost_tracker/auto_scaling.py
  src/llm_cost_tracker/cache.py
  src/llm_cost_tracker/circuit_breaker.py
  src/llm_cost_tracker/concurrency.py
  src/llm_cost_tracker/config.py
  src/llm_cost_tracker/database.py
  src/llm_cost_tracker/health_checks.py
  src/llm_cost_tracker/logging_config.py
  src/llm_cost_tracker/main.py
  src/llm_cost_tracker/validation.py
  tests/test_database.py
  tests/test_security.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team, @terragon-labs/qa-team

feat(quantum-task-planner): add quantum-inspired task planning with production deployment
  .env.production.example
  DEPLOYMENT_GUIDE.md
  Dockerfile.production
  README.md
  docker-compose.production.yml
  docs/API_REFERENCE.md
  docs/QUANTUM_ARCHITECTURE.md
  scripts/deploy.sh
  scripts/quality_gates.py
  src/llm_cost_tracker/__init__.py
  src/llm_cost_tracker/controllers/__init__.py
  src/llm_cost_tracker/controllers/quantum_controller.py
  src/llm_cost_tracker/main.py
  src/llm_cost_tracker/quantum_compliance.py
  src/llm_cost_tracker/quantum_i18n.py
  src/llm_cost_tracker/quantum_monitoring.py
  src/llm_cost_tracker/quantum_optimization.py
  src/llm_cost_tracker/quantum_task_planner.py
  src/llm_cost_tracker/quantum_validation.py
  tests/test_quantum_task_planner.py
Owners: @terragon-labs/core-team, @terragon-labs/documentation-team, @terragon-labs/devops-team, @terragon-labs/backend-team, @terragon-labs/qa-team

feat(sentiment-analysis): add Sentiment Analyzer Pro with security and performance
  README.md
  SENTIMENT_ANALYZER_IMPLEMENTATION.md
  docker-compose.production.yml
  production-env-example.txt
  quality_report.json
  run_quality_gates.py
  scripts/production-deploy.sh
  src/llm_cost_tracker/__init__.py
  src/llm_cost_tracker/controllers/sentiment_controller.py
  src/llm_cost_tracker/main.py
  src/llm_cost_tracker/sentiment_analyzer.py
  src/llm_cost_tracker/sentiment_models.py
  src/llm_cost_tracker/sentiment_performance.py
  src/llm_cost_tracker/sentiment_security.py
  tests/test_sentiment_analyzer.py
  tests/test_sentiment_performance.py
  tests/test_sentiment_security.py
Owners: @terragon-labs/documentation-team, @terragon-labs/core-team, @terragon-labs/devops-team, @terragon-labs/backend-team, @terragon-labs/qa-team

Revert "FIX THIS TRASH
  README.md
  SENTIMENT_ANALYZER_IMPLEMENTATION.md
  docker-compose.production.yml
  production-env-example.txt
  quality_report.json
  run_quality_gates.py
  scripts/production-deploy.sh
  src/llm_cost_tracker/__init__.py
  src/llm_cost_tracker/controllers/sentiment_controller.py
  src/llm_cost_tracker/main.py
  src/llm_cost_tracker/sentiment_analyzer.py
  src/llm_cost_tracker/sentiment_models.py
  src/llm_cost_tracker/sentiment_performance.py
  src/llm_cost_tracker/sentiment_security.py
  tests/test_sentiment_analyzer.py
  tests/test_sentiment_performance.py
  tests/test_sentiment_security.py
Owners: @terragon-labs/documentation-team, @terragon-labs/core-team, @terragon-labs/devops-team, @terragon-labs/backend-team, @terragon-labs/qa-team

feat(llm_cost_tracker): add advanced quantum-inspired scheduling with global compliance and scaling
  AUTONOMOUS_SDLC_COMPLETE.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  demo_quantum_research.py
  src/llm_cost_tracker/enhanced_monitoring.py
  src/llm_cost_tracker/global_compliance.py
  src/llm_cost_tracker/multi_region_scaling.py
  src/llm_cost_tracker/quantum_benchmarks.py
  src/llm_cost_tracker/quantum_task_planner.py
  src/llm_cost_tracker/security.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team

feat(llm_cost_tracker): add quantum ML optimizer and resilience engine modules
  src/llm_cost_tracker/quantum_ml_optimizer.py
  src/llm_cost_tracker/resilience_engine.py
Owners: @terragon-labs/backend-team

feat(sdlc): complete autonomous SDLC implementation with demos and quality gates
  AUTONOMOUS_SDLC_IMPLEMENTATION_COMPLETE.md
  demo_basic_functionality.py
  demo_robust_functionality.py
  demo_scalable_functionality.py
  llm_cost_tracker_robust.log
  quality_gates_results.json
  quality_gates_verification.py
Owners: @terragon-labs/core-team

feat(autonomous-sdlc): introduce autonomous SDLC with quantum-inspired optimization
  AUTONOMOUS_SDLC_RESEARCH_PUBLICATION.md
  TERRAGON_SDLC_MASTER_COMPLETION_REPORT.md
  src/llm_cost_tracker/adaptive_quantum_mesh.py
  src/llm_cost_tracker/autonomous_evolution_engine.py
  src/llm_cost_tracker/quantum_neural_evolution.py
  tests/test_adaptive_quantum_mesh.py
  tests/test_quantum_neural_evolution.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team, @terragon-labs/qa-team

feat(quantum): add autonomous quantum-variational hybrid optimization system
  AUTONOMOUS_SDLC_QUANTUM_ENHANCEMENT_COMPLETE.md
  QUANTUM_RESEARCH_PUBLICATION.md
  src/llm_cost_tracker/autonomous_benchmark_framework.py
  src/llm_cost_tracker/quantum_variational_hybrid.py
  tests/test_autonomous_benchmark_framework.py
  tests/test_quantum_variational_hybrid.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team, @terragon-labs/qa-team

feat(autonomous_evolution_engine): implement autonomous evolution engine with genetic algorithms
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_SUMMARY.md
  TERRAGON_AUTONOMOUS_SDLC_RESEARCH_PUBLICATION.md
  benchmark_results.json
  compliance_records.json
  evolution_data.json
  optimization_data.json
  quality_gates_results.json
  src/llm_cost_tracker/advanced_production_optimizer.py
  src/llm_cost_tracker/autonomous_evolution_engine.py
  src/llm_cost_tracker/enhanced_global_compliance.py
  src/llm_cost_tracker/progressive_quality_gates.py
  src/llm_cost_tracker/research_benchmark_framework.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team

feat(autonomous-sdlc): complete autonomous SDLC execution with quantum-enhanced production system
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  comprehensive_quality_gates.py
  demo_enhanced_system.py
  demo_results_gen1.json
  global_implementation_results.json
  global_implementation_system.py
  quality_gates_results.json
  robust_enhancement_results.json
  robust_enhancement_system.py
  robust_system.log
  scalable_optimization_results.json
  scalable_optimization_system.py
Owners: @terragon-labs/core-team

feat(autonomous_sdlc): add complete autonomous SDLC implementation with multi-generation systems
  TERRAGON_AUTONOMOUS_SDLC_COMPLETE.md
  advanced_scaling_optimization_system.py
  autonomous_research_discovery.py
  comprehensive_quality_gates_report.json
  comprehensive_quality_gates_system.py
  demo_gen1_enhanced_validation.py
  enhanced_error_handling_system.py
  enhanced_security_compliance_system.py
  gen1_enhanced_validation_results.json
  generation_2_robustness_results.json
  generation_2_security_results.json
  generation_3_optimization_results.json
  production_deployment_report.json
  production_deployment_system.py
  robust_quantum_system.log
  security_compliance.log
  src/llm_cost_tracker/quantum_task_planner.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team

feat(autonomous-sdlc): add final completion report and metrics for v4.0
  AUTONOMOUS_SDLC_MASTER_COMPLETION_FINAL.md
  FINAL_AUTONOMOUS_SDLC_METRICS.json
  production_deployment_report.json
  quality_gates_results.json
Owners: @terragon-labs/core-team

feat(llm_cost_tracker): add 7 advanced integrated systems for autonomous LLM cost tracking
  AUTONOMOUS_SDLC_QUANTUM_COMPLETION_REPORT.md
  src/llm_cost_tracker/advanced_compliance_engine.py
  src/llm_cost_tracker/autonomous_performance_tuning_engine.py
  src/llm_cost_tracker/collaborative_intelligence_dashboard.py
  src/llm_cost_tracker/edge_ai_optimizer.py
  src/llm_cost_tracker/master_system_controller.py
  src/llm_cost_tracker/predictive_analytics_engine.py
  src/llm_cost_tracker/quantum_multimodal_engine.py
  src/llm_cost_tracker/zero_trust_security_engine.py
  tests/test_integration_comprehensive.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team, @terragon-labs/qa-team

feat(deployment): add production deployment orchestrator with zero-downtime
  advanced_scaling_system.py
  advanced_system_enhancements.py
  comprehensive_quality_gates_results.json
  comprehensive_quality_system.py
  generation_1_enhanced_results.json
  generation_2_robustness_results.json
  generation_3_scaling_results.json
  production_deployment_orchestrator.py
  production_deployment_results.json
  robust_reliability_system.py
Owners: @terragon-labs/core-team

feat(validation): add comprehensive validation demos and readiness checks
  .env.test
  demo_generation_1_validation.py
  demo_generation_2_robustness.py
  demo_generation_3_scaling.py
  demo_generation_3_scaling_simple.py
  demo_production_readiness.py
  demo_quality_gates.py
  gen1_validation_results.json
  generation_2_robustness_results.json
  generation_3_scaling_results.json
  production_readiness_results.json
  quality_gates_results.json
Owners: @terragon-labs/core-team

feat(autonomous_sdlc): add autonomous quantum-enhanced SDLC implementation and reports
  AUTONOMOUS_SDLC_QUANTUM_RESEARCH_PUBLICATION.md
  FINAL_AUTONOMOUS_SDLC_COMPLETION_REPORT.json
  comprehensive_quality_validation_system.py
  production_deployment_orchestrator_v2.py
  production_deployment_results_v2.json
  src/llm_cost_tracker/autonomous_resilience_framework.py
  src/llm_cost_tracker/global_quantum_i18n_system.py
  src/llm_cost_tracker/quantum_neural_adaptive_evolution.py
  src/llm_cost_tracker/quantum_performance_accelerator.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team

feat(llm_cost_tracker): add Generation 4 autonomous AI-driven SDLC system
  GENERATION_4_AUTONOMOUS_SDLC_REPORT.md
  src/llm_cost_tracker/advanced_autonomous_optimizer.py
  src/llm_cost_tracker/autonomous_ai_evolution_engine.py
  src/llm_cost_tracker/quantum_ml_optimizer.py
Owners: @terragon-labs/core-team, @terragon-labs/backend-team

feat(deployment): add comprehensive TERRAGON Autonomous SDLC v4.0 system
  TERRAGON_SDLC_COMPREHENSIVE_DOCUMENTATION.md
  autonomous_robust_sdlc_system.py
  autonomous_scalable_optimization_system.py
  deployment_20250828_023010.log
  production_deployment_report_prod_deploy_20250828_023010.json
  production_deployment_summary_prod_deploy_20250828_023010.md
  production_deployment_system.py
  progressive_quality_gates_autonomous_system.py
  progressive_quality_gates_simple.py
  quality_report_gen1.json
  robustness_report_robust_20250828_020649_140523331864672.json
  robustness_summary_robust_20250828_020649_140523331864672.md
  scalable_optimization.log
  scalable_optimization_report_scalable_20250828_021108_140655898414832.json
  scalable_optimization_summary_scalable_20250828_021108_140655898414832.md
  simple_quality_report_quality_20250828_021953_140198863760432.json
  simple_quality_summary_quality_20250828_021953_140198863760432.md
  simple_quality_validation.py
Owners: @terragon-labs/core-team
